.Header {
    display: flex;
    justify-content: flex-end;
    color: white;
    align-items: center;

    padding: 2rem 0;

    .link {
        font-weight: 600;
        font-size: 1.25rem;
        margin-right: 4rem;
    }

    .instagramIcon {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
    }
}

