.Hero {
    background: var(--background);
    min-height: 500px;
    padding-bottom: 10rem;
}

.content {
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.title {
    margin-top: 4rem;
    color: white;
    font-size: 3.75rem;
}

.title span {
    color: var(--primary);
}

.title::after {
    content: "";
    display: block;
    width: 15.25rem;
    height: 0.625rem;
    background: white;
    bottom: 0;
}

.intro {
    width: 90%;
    color: #E8E8E8;
    margin-top: 2rem;
    font-size: 1.56rem;
}

/* Search */
.searchInput {
    font-size: 1.25rem;
    width: 100%;

    margin-top: 4rem;
    margin-bottom: 1.5rem;

    padding: 0.8rem;
    border-radius: 3px;
    border: 3px solid white;
    transition: border .3s ease;

    color: var(--background);
}

.searchInput:focus {
    outline: none;
    border: 3px solid var(--primary);
    transition: border .3s ease;
}

.searchedSentences {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 0.5rem 2.5rem;
    max-width: 1200px;
    margin: 4rem auto 0 auto;
}

.searchedSentences div {
    margin-bottom: 2.5rem;
}

.searchBadges {
    display: flex;
    flex-wrap: wrap;
}

.searchBadges span + span {
    margin-left: 1rem;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(70px);
}

.loading {
    color: white;
}

@media (max-width: 1200px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .searchedSentences {
        grid-template-columns: 1fr;
        justify-items: center;

        & > div {
            width: 100%;
        }

        & > div > div {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}